wood-avatar{
  height: 100%;
  width: 100%;

  .shape{
    height: 100%;
    width: 100%;

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    margin: auto;
  }
}
