.wood.avatar{
  height: 100%;
  width: 100%;

  .shape{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    margin: auto;

    background-color: white;
  }
}
