.modal-body{
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.model-modal {
    .model-form {
        .input-wrapper {
            .bootstrap-select {
                width: 100% !important;
            }
            .checkbox {
                input[type="checkbox"] {
                    margin-left: 0;
                }
            }
        }
    }
}
