/**
 * Created by danmurray on 2/26/15.
 */
.wood-icon{
 border: 0px;
 outline: none;

 position: relative;

 font-size: 18px;
 background-color: rgba(0, 0, 0, 0);
 transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

 &button{
 }

 .icon{
   font-size: 24px;
 }
}

wood-icon-list{
  height: 100%;
  @include flexbox;
  @include align-items(center);

  .wood-icon{
    padding: 12px;
  }
}
