.wood.input{
  position: relative;
  min-width: 256px;
  font-family: Roboto;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.298039);
  padding-top: 4px;

  @include flexbox;
  @include flex-direction(column);

  .label-placeholder{
    height: 0px;
    width: 100%;
    margin: 0px;
  }
  &.labeled{
    .label-placeholder{
      height: 16px;
      margin-bottom: 4px;
    }
  }

  &.erred{
    .border-bottom{
      .border-bottom-active{
        width: 100%;
        border-color: #dd2c00;
      }
    }
  }

  &.focused{
    .label-text{
      color: rgb(0, 188, 212);
      transform: perspective(1px) scale(0.75) translate3d(0px, -28px, 0px);
    }

    &.erred{
      .label-text{
        color: #dd2c00;
      }
    }

    .border-bottom{
      .border-bottom-active{
        width: 100%;
        border-color: rgb(0, 188, 212);
      }
    }


    &.filled{
      .label-text{
        color: inherit;
      }
    }
  }



  &.labeled{
    .label-text{
      display: block;
    }

    .hint-text{
      opacity: 0;
    }

    &.focused{
      .hint-text{
        opacity: 1;
      }

      &.filled{
        .hint-text{
          opacity: 0;
        }
      }
    }
  }

  .label-text{
    display: none;
    position: absolute;
    top: 24px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: scale(1) translate3d(0px, 0px, 0px);
    transform-origin: left top 0px;

    line-height: 22px;
    z-index: 1;
    cursor: text;
    pointer-events: auto;
    -webkit-user-select: none;
  }

  .hint-text{
    position: absolute;
    top: 24px;
    opacity: 1;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  &.filled{
    .label-text{
      transform: perspective(1px) scale(0.75) translate3d(0px, -26px, 0px);
    }

    .hint-text{
      opacity: 0;
    }
  }

  input{
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    font: inherit;
    z-index: 2;
    margin-bottom: 4px;
  }

  .border-bottom{
    height: 0px;
    width: 100%;
    color: #e0e0e0;
    margin-bottom: 4px;

    .border-bottom-inactive{
      border: none;
      border-bottom: solid 1px;
    }

    .border-bottom-active{
      margin: 0 auto;
      width: 0%;
      border: none;
      border-color: rgb(0, 188, 212);
      border-bottom: solid 2px;
      transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }

  &.disabled{
    input{
      opacity: 0.38;
    }

    .border-bottom-inactive{
      border-bottom: dotted 2px;
    }
  }

  .error-text{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #f44336;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0;
  }
}
