wood-item{
  display: block;

  &.button{
    cursor: pointer;

    &:hover{
      background-color: rgba(0,0,0,0.098);
      transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;;
    }
  }

  .item-wrapper{
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    padding: 0 16px;

    .right-icon,
    .left-icon{
      height: 40px;
      width: 40px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex-shrink(0);

      .icon{
        font-size: 18px;
      }
    }

    .left-icon{
      margin-right: 10px;
    }

    .item-body{
      @include flex-grow(2);
      padding-right: 16px;
      padding: 16px 0;
      min-width: 150px;

      .primary-text{
        font-size: 13px;
        line-height: 14px;
        max-height: 14px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .secondary-text{
        font-size: 11px;
        line-height: 13px;
        max-height: 26px;
        margin-top: 2px;

        color: rgba(0, 0, 0, 0.541176);
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
