wood-item{
  display: block;
  height: 60px;

  &.button{
    cursor: pointer;

    &:hover{
      background-color: #fafafa;
    }
  }
  
  .item-wrapper{
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    height: 100%;
    width: 100%;
    padding: 0 16px;

    .right-icon,
    .left-icon{
      height: 40px;
      width: 40px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);

      .icon{
        font-size: 18px;
      }
    }

    .item-body{
      @include flex-grow(2);
      padding-right: 16px;

      .primary-text{
        font-size: 13px;
        line-height: 19px;
        max-height: 22px;

        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
      }

      .secondary-text{
        font-size: 11px;
        line-height: 17px;
        max-height: 34px;

        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
      }
    }
  }
}
