//== Colors
$color-grey-light:      rgba( 153,    153,    153,    0.2);
$color-grey:            rgba( 153,    153,    153,    0.4);
$color-grey-dark:       rgba( 153,    153,    153,    0.6);
$color-black:           rgba( 0,    0,    0,    0.870588);
$color-primary:         rgba( 255,  64,   129,  1);
$color-secondary:       rgba( 0,    188,  212,  1);
$color-success:         #5cb85c !default;
$color-info:            #5bc0de !default;
$color-warning:         #f0ad4e !default;
$color-danger:          #d9534f !default;
