//== Colors
$colors: (
  inherit:         'inherit',
  white:           'white',
  blue:            #00bcd4,
  grey-light:      rgba( 153,    153,    153,    0.2),
  grey:            rgba( 153,    153,    153,    0.4),
  grey-dark:       rgba( 153,    153,    153,    0.6),
  black:           rgba( 0,    0,    0,    0.870588),
  primary:         rgba( 255,  64,   129,  1),
  secondary:       rgba( 0,    188,  212,  1),
  success:         #5cb85c,
  info:            #5bc0de,
  warning:         #f0ad4e,
  danger:          #d9534f
);

@each $key, $value in $colors {

  .color-#{$key}{
    color: #{$value};
  }

  .backgroundColor-#{$key}{
    background-color: #{$value};
  }
}
