@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@keyframes pulse{
  0% { transform: scale(1.7); }
  50% { transform: scale(2); }
  100% { transform: scale(1.7); }
}

@keyframes ripple{
  0% { opacity: 1; transform: scale(0); }
  100% { opacity: 0; transform: scale(4.5); }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  animation: #{$str};
}
